.contact {
    position: relative;
    height: 75vh;
    width: 90vw;
    overflow: auto;
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    transform: translateY(80px);
  }
  